body{
    background: linear-gradient(to left, #056386, #64770f);
}
.container{
    display: flex;
    height: 80vh;
}
.column{
    flex: 1;
    padding: 20px;
    margin: 0 auto;
}
.dropzone{
    color: white;
    border-radius: 10%;
    border: 5px dashed #182c0d;
    padding: 20px;
    text-align: center;
    height: 30%;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}
.upload-button{
    margin-top: 10px;
}
textarea{
    color: black;
    border-radius: 5px;
    border: 5px;
    padding: 20px;
    height: 120px;
    min-width: 30%;
    max-width: 65%;
    width: 65%;
    margin: auto;
    position: center;
}
.text-area{
    margin-top: 20px;
    text-align: center;
}
footer{
    color: white;
    background: #182c0d;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    height: 40px;
}
